<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/resources/style.css"/>
</head>
<body>
<th:block th:include="fragments/heading" />
<ul sec:authorize="hasAuthority('ROLE_ADMIN')">
    <h1>주민 목록</h1>
    <table>
        <thead>
        <tr>
            <th>일련번호</th>
            <th>성명</th>
            <th>주민등록번호</th>
            <th>성별</th>
            <th>증명서</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resident, i : ${residentPage}" >
            <td th:text="${resident.residentSerialNumber}"></td>
            <td th:text="${resident.name}"></td>
            <td th:text="${resident.residentRegistrationNumber}"></td>
            <td th:text="${resident.genderCode}"></td>
            <td>
                <a th:href="@{./certificate(page=${residentPage.getNumber()}, size=${residentPage.getSize()}, id=${resident.residentSerialNumber})}">증명서 목록</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <a th:href="@{./(page=${residentPage.getNumber()-1}, size=${residentPage.getSize()})}" th:if="${residentPage.hasPrevious()}">이전</a>
        <span th:text="${residentPage.getNumber()+1}" />/<span th:text="${residentPage.getTotalPages()}"/>
        <a th:href="@{./(page=${residentPage.getNumber()+1} , size=${residentPage.getSize()})}" th:if="${residentPage.hasNext()}" >다음</a>
    </div>
</ul>

</body>
</html>